<div class="profile-image">
  <%= image_tag @user.avatar.url(:medium), class: 'user-avatar img-circle' %>
</div><!-- end profile-image -->

<h2 class="user-name text-center"><%= @user.first_name %> <%= @user.last_name %></h2>
<p class="lead text-center"><%= @user.location %></p>

<div class="speaks text-center">

  <div class="ratings">
    <div class="ratings-count">
      <%= @user.coach.ratings_count %><br>
      <%= pluralize_without_count(@user.coach.ratings_count, 'Review') %></div>
    <div id="star"></div>
  </div>

  <ul class="languages">
    <li>Speaks</li>
    <% @spoken_languages.each do |lang| %>
      <li><%= lang.language.english %></li>
    <% end %>
  </ul>

</div><!-- end speaks -->

<div class="embed-responsive embed-responsive-16by9">
  <%= YouTubeAddy.youtube_embed_url("#{@user.coach.video_url}").html_safe %>
</div>

<div class="panel panel-default">

  <div class="panel-body">
    <p><b>About my services</b></p>
    <p><%= @user.coach.services %></p>
  </div>

</div>

<% if @user.coach.will_chat? %>
  <div class="well">
    <p>Unlimited in-app chat</p>
  </div>
<% end %>

<% if @user.coach.will_call? %>
  <div class="well">
    <p>I accept phone requests</p>
  </div>
<% end %>

<div class="well">
  <p>Cancel anytime</p>
</div>

<div class="well">
  <p>Money back guarantee</p>
</div>

<div class="hire">
  <div class="top">
    <p>$10 / week</p>
  </div>
  <div class="bottom">
    <% unless current_user.user? && !is_subscribed?(@user.coach) %>
      <%= render 'subscriptions/new_subscription' %>
    <% else %>
      <%= link_to "Cancel My Subscription", cancel_subscriptions_path(:user_id => @user.id ), :controller =>
    :subscriptions, :action => :cancel, :method => :post, :class => "btn btn-danger" %>
    <% end %>
  </div>
</div>

<div class="hire">
  <div class="top">
    <p>$<%= @user.coach.call_rate %> / 30 minute call</p>
  </div>
  <div class="bottom">
    <%= link_to 'Schedule a call', new_user_scheduled_call_path(@user), class: 'btn btn-success btn-lg btn-block' %>
  </div>
</div>

<div class="testimonials">

  <% @testimonials.each do |testimonial| %>
    <%= render testimonial %>
  <% end %>

</div>

</div>

<script>
$('#star').raty({
    readOnly: true,
    score: <%= @user.coach.average_rating %>,
    path: '/assets'
  });
</script>