<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>

<td>
  <% if !user.coach %>
    <%= form_for :coach, :url => { :controller => :coaches, :action => :create } do |f| %>
      <%= f.hidden_field :user_id, value: user.id %>
      <%= f.submit 'Create Coach', :class => 'button-xs' %>
    <% end %>
  <% end %>
</td>

<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs btn-danger') unless user == current_user %>
</td>
