<p>
  <strong>Suggested time 1:</strong>
  <%= @scheduled_call.suggested_times.first.time %>
</p>

<p>
  <strong>Suggested time 2:</strong>
  <%= @scheduled_call.suggested_times.second.time %>
</p>

<p>
  <strong>Suggested time 3:</strong>
  <%= @scheduled_call.suggested_times.last.time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @scheduled_call.price %>
</p>

<%= link_to 'Edit', edit_scheduled_call_path(@scheduled_call) %> |
<%= link_to 'Back', scheduled_calls_path %>
