<section class="chat-module">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id="chat_messages">
          <ol class="discussion">
            <%= render @chat_messages %>
            <div class="messages-list"></div>
          </ol>
        </div>

        <div id="new_message" class="fixed text-center">
          <% unless !@chat.active %>
            <%= form_for([@chat, ChatMessage.new], :html => { class: 'form-inline' }, remote: true) do |f| %>
              <div class="form-group">
                <div class="input-group">
                  <%= f.text_area :content, placeholder: "Send a message" %>
                </div>
                <%= f.submit "Send", class: "btn btn-sm btn-success" %>
              </div>
            <% end %>
          <% else %>
            <%= link_to "Rehire #{@chat.coach.user.first_name}", user_path(@chat.coach.user), class: 'btn btn-success' %>
          <% end %>
        </div>
      </div><!-- end column -->
    </div><!-- end row -->
  </div>
</div>

